html, body { font-size: 100%; }

body
{
	font-family: sans-serif;
}

h1
{
	text-align: center;
}

nav > *
{
	display: inline-block;
}

nav > h1 > span
{
	padding: 1rem;
}

nav > h1 > span:first-child
{
	border-right: 2px solid rgba(150, 150, 150, 0.7);
}

.toolbar
{
	margin: 0.5rem;
	padding: 0.5rem;
	
	list-style-type: none;
}

.toolbar > li
{
	display: inline-block;
	
	margin: 0.5rem;
	padding: 0.5rem;
}
