<nav>
	<h1><span>Walafunt</span><span>{prefix}</span></h1>
	<ul class="toolbar">
		<li><a href="?action=edit&new=yes">Add new</a></li>
		<li><a href="?action=settings">Settings</a></li>
		<li>{user-panel}</li>
	</ul>
</nav>
