<article class="code-snippet">
	<pre><code>{code}</code></pre>
	<div class="top-bar">
		<span class="title">{title} by {author}</span>
		<span class="language">{language}</span>
	</div>
	<div class="bottom-bar">
		<span class="description">{description}</span>
		<span class="tags">{tags}</span>
	</div>
</article>
